name=mqtt-source
connector.class=io.lenses.streamreactor.connect.mqtt.source.MqttSourceConnector
tasks.max=1
connect.mqtt.kcql=INSERT INTO SensorData SELECT * FROM sensors WITHCONVERTER=`io.lenses.streamreactor.connect.converters.source.JsonSimpleConverter`
connect.mqtt.client.id=kafka-mqtt-source
connect.mqtt.hosts=tcp://mosquitto:1883
connect.mqtt.service.quality=1
